# ------------------------------------------
# Python ignores
# ------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.env/
.env.*


# ------------------------------------------
# Streamlit
# ------------------------------------------
.streamlit/secrets.toml
.streamlit/config.toml


# ------------------------------------------
# Project data (Spotify API outputs)
# ------------------------------------------
data/raw/
data/curated/


# ------------------------------------------
# VS Code
# ------------------------------------------
.vscode/
*.code-workspace


# ------------------------------------------
# OS / System files
# ------------------------------------------
.DS_Store
Thumbs.db


# ------------------------------------------
# Logs / temp
# ------------------------------------------
*.log
*.tmp
*.swp
*.lock


# ------------------------------------------
# Cache files
# ------------------------------------------
*.pickle
.cache/
.ipynb_checkpoints/


# ------------------------------------------
# Node (in case you add frontend later)
# ------------------------------------------
node_modules/
dist/
build/


# ------------------------------------------
# PyInstaller / Packaging
# ------------------------------------------
*.spec
